# Command to zip this up and ignore all else.
# # zip -r D3Icons.zip D3\ Banking/ -x \*.DS_Store
AppIcon.appiconset/Icon-App-20x20@1x.png
AppIcon.appiconset/Icon-App-20x20@2x-1.png
AppIcon.appiconset/Icon-App-20x20@2x.png
AppIcon.appiconset/Icon-App-20x20@3x.png
AppIcon.appiconset/Icon-App-29x29@1x-1.png
AppIcon.appiconset/Icon-App-29x29@1x.png
AppIcon.appiconset/Icon-App-29x29@2x-1.png
AppIcon.appiconset/Icon-App-29x29@2x.png
AppIcon.appiconset/Icon-App-29x29@3x.png
AppIcon.appiconset/Icon-App-40x40@1x.png
AppIcon.appiconset/Icon-App-40x40@2x.png
AppIcon.appiconset/Icon-App-40x40@2x-1.png
AppIcon.appiconset/Icon-App-40x40@3x.png
AppIcon.appiconset/Icon-App-57x57@1x.png
AppIcon.appiconset/Icon-App-57x57@2x.png
AppIcon.appiconset/Icon-App-60x60@2x.png
AppIcon.appiconset/Icon-App-60x60@3x.png
AppIcon.appiconset/con-App-76x76@1x.png
AppIcon.appiconset/Icon-App-76x76@2x.png
AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
AppIcon.appiconset/Icon-App-iTunes.png